{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <meta property="og:url"           content="http://www.universal.org.pa/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{title}} | {{site.name}}" />
    <meta property="og:description"   content="{{site.description}}" />
    <meta property="og:image"         content="{% static 'base/images/logo.png' %}" />
<style media="screen">
    .blog-post {background-color: #FFF;margin-bottom: 25px;}
    .blog-post .blog-post-pub-date {
        position: absolute;;
        height: 100px;
        width: 100px;
        background-color: #FFF;
        left: -90px;
    }
    .blog-post .blog-post-pub-date h4 {position: absolute;top:1px;left: 10px;}
    .blog-post .blog-post-pub-date h4 span {position: absolute;bottom: 0;left: 0px;top: 35px; font-family: 'Old Standard TT', serif;}
    .blog-post .blog-post-img {width: 100%;}
    .blog-post .blog-post-img h2 {width: 100%; background-color: rgba(64,69,69,0.5);color:#e9e5e5;position: relative;z-index: 3;margin-top: -50px;height: 50px;padding-top: 5px;padding-left: 15px; overflow: hidden;}
    .blog-post .blog-post-img h2 a{font-size: 18px !important;font-family: 'Old Standard TT', serif;color: #FFF}
    .blog-post .blog-post-img img{height: 100%; width: 100%}
    .blog-post .blog-post-img h2 a:hover,
    .blog-post .blog-post-img h2 a:active{text-decoration: none; cursor: pointer;}
    .blog-post .blog-post-content,.blog-post .blog-post-footer {padding: 15px;}
    .blog-post .blog-post-footer p {display: inline-block;}
    .blog-post .blog-post-footer p span .left {position: absolute;right: 0}
    .blog-post .blog-post-footer p span .right {position: absolute;left: 0}
    .blog-aside {background-color:#FFF;min-height:10px;margin-bottom: 25px;}
    .blog-aside-header {background-color: #FEFEFE; height: 70px;padding: 20px;}
    /*.blog-aside-header p {font-size: 1.35em;}*/
    .blog-aside-body {padding: 20px;}
    .blog-aside-body ul {padding: 0}
    .blog-aside-body ul li {list-style: none;}
    /*.blog-aside-body ul li a {font-size:1.31em;}*/
    .blog-aside-body ul li a span {font-size:0.671em;}
    .badge {background-color: #242843}
    .blog-aside-body ul li a:hover {text-decoration: none;}
    .blog-aside-search-input,.blog-aside-search-button {display: inline-block; height: 70px;}
    .blog-aside-search form {height: 70px;margin: 0;padding: 0;}
    .blog-aside-search-input,.blog-aside-search-button {display: inline-block;}
    .blog-aside-search-input {height: 95%;width: 80%; background-color: #fff;}
    .blog-aside-search-input input {border: none;margin: 0; padding: 15px 0 15px 10px;font-size: 1.3em;width: 100%;height: 105%}
    .blog-aside-search-button {height: 100%; width: 18.5%;margin: 0;padding: 0;position: absolute;}
    .blog-aside-search-button button {border: none;height: 70px;width: 100%;background-color: #5cc485}
    .glyphicon-search::before {font-size: 1.9em !important;}
    .blog-aside-fixed {position: fixed;width: 350px;}
    .blog-aside-fixed .blog-aside-search-button{width: 20%;}
    .modal-body img{width: 100%}
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-xs-12 col-sm-8">
                {% if news_list %}
                    {% for news in news_list %}
                        <div class="blog-post material-shadow">
                            <div class="blog-post-pub-date material-shadow hidden-xs hidden-sm hidden-md hidden-md hidden-lg">
                                <h4>{{news.timestamp|date:"D d M Y"}}</h4>
                            </div>
                            <div class="blog-post-img">
                                <img src="{% if news.image != '' %}{{news.image.url}}{% else %}https://static.pexels.com/photos/325288/pexels-photo-325288.jpeg{% endif %}" alt="">

                                <h2>
                                    <a href="{{news.get_absolute_url}}">{{news.title}}</a>
                                </h2>
                            </div>
                            <div class="blog-post-content">
                                {{news.content|safe|truncatewords_html:20}}
                            </div>
                            <div class="blog-post-footer">
                                <p>
                                    <span class="left glyphicon glyphicon-user"> {% if news.user.first_name %}{{news.user.first_name}}{% endif %} {% if news.user.last_name %}{{news.user.last_name}}{% endif %}</span>
                                </p>
                                <br>
                                {% if news.category %}
                                    <p>
                                        <a href="{{news.get_category_url}}">{{news.category}}</a>
                                    </p>
                                {% endif %}
                                <br>
                                {% if news.related %}<p><a href="">{{news.related.id}}</a></p>{% endif %}
                            </div>
                            <div  id="{{news.id}}Modal" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                           <img src="{% if news.image != '' %}{{news.image.url}}{% else %}https://static.pexels.com/photos/325288/pexels-photo-325288.jpeg{% endif %}" alt="">
                                           <h1>{{news.title}}</h1>
                                           {{news.content|safe}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- Paginator -->
                <nav aria-label="...">
                    {% if news_list.has_other_pages %}
                    <ul class="pagination">
                        {% if news_list.has_previous %}
                        <li>
                            <a href="?page={{ news_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                            {% for i in news_list.paginator.page_range %}
                                {% if news_list.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% if news_list.has_next %}
                        <li>
                            <a href="?page={{ news_list.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>

            </div>
            <div class="col-sm-4 hidden-xs">
                {% if site_categories %}
                    <div class="blog-aside material-shadow" id="blogCategoriesAside">
                        <div class="blog-aside-header">
                            <p>Categorías</p>
                        </div>
                        <div class="blog-aside-body">
                            <ul class="" id="">
                                    {% for category in site_categories %}
                                    <li class="" id="">
                                        <a href="{% url 'frontend:Blog_category' category.id %}" class="" id="">
                                            {{category.name}}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">

$(function(){
    var menu = $("#blogSeachAside");
    $(window).scroll(function(){
        var scroll = $(window).scrollTop();
        if (scroll >= 1080){
            if(!menu.hasClass("blog-aside-fixed")){
                menu.addClass('blog-aside-fixed').fadeIn(1000);
            }
        } else {
            if(menu.hasClass("blog-aside-fixed")){
                menu.removeClass("blog-aside-fixed").fadeIn(1000);
            }
        }
    });
})
</script>
{% endblock %}
