{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style media="screen">
    .no-margin {margin: -10px 0 0 0}
</style>
{% endblock %}

{% block content %}
<!-- Form -->
<div class="row">
    <div class="container gray">
        <div class="col-xs-12 col-sm-5">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-7">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
    </div>
</div>
<!-- Iglesias -->
<div class="row">
    <div class="container-fluid">
        <div class="col-xs-12 text-center">
            <h3>Nuestras iglesias</h3>
        </div>
        <div class="col-xs-12 col-sm-3 red">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-3 orange">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-3 blue">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-3 yellow">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
    </div>
</div>
<!-- Mapa -->
<div class="row ident-color-dark no-margin">
    <div class="container">
        <div class="map">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
