{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'base/css/player.css' %}">
<style media="screen">
    .fa-play-circle, .fa-pause-circle{color: #FFF; font-size: 60pt;}
    .controls button{background-color: rgba(0,0,0,0);border: none; z-index: 99999; position: absolute;}
    .player{margin-bottom: 5px;}
    .swiper-container {
        width: 100%;
        height: 150px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: 100px; width: 100px;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img{
        min-width:100%;
        max-width:100%;
        min-height:100%;
        max-height:100%;
    }
    .swiper-slide p{position: absolute;top: 100%}
</style>
{% endblock %}

{% block content %}
<!-- Under Nav -->
    <div class="container">
        <div class="row">
            {% if last_news %}
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div id="" class="gray lastnew card-3">
                    <img src="{% if last_news.image %}{{last_news.image.url}}{% endif %}" alt="{{last_news.title}}">
                    <div class="footer">
                        <h3>
                            <a href="{{last_news.get_absolute_url}}">{{last_news.title}}</a>
                        </h3>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="head-latest-news card-3 white">
                    <h3 class="text-center">
                        Últimos artículos
                    </h3>
                    {% for new in news %}
                        <div class="head-latest-news-item card-3">
                            <h3>
                                <a href="{{new.get_absolute_url}}">{{new.title}}</a>
                            </h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if feeds %}
                <div class="col-md-4 hidden-xs hidden-sm">
                    <div id="friendsFeeds" class="friendsfeeds card-3 white">
                        {% for feed in feeds %}
                            <div class="items">
                                <img src="{% if feed.image %}{{feed.image.url}}{% endif %}" alt="" >
                                <div class="footer">
                                    <h3><a href="{{feed.url_feed}}" target="_blank">{{feed.title}}</a></h3>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
<!-- Under Nav -->
<!-- Multimedia -->
    <div class="container multimedia">
        <div class="row">
            {% if videos %}
            <div class="col-xs-12 col-md-7 ">
                <div class="tv">
                    {% for video in videos %}
                        {% if video.video_url != '' %}
                            <iframe class="card-3" src="https://www.youtube.com/embed/{{video.video_url}}" width="540" height="370" frameborder="0" style="background-image: url("https://i.ytimg.com/vi_webp/{{video.video_url}}/maxresdefault.webp");"></iframe>
                        {% endif %}
                        {% if video.video_file != '' %}
                        <video controls='false'>
                            <source src="http://latinstatic.edgesuite.net/iurd/" type="video/mp4">
                            <source src="#" type="video/ogg">
                            <p>Su navegador web no soporta éste video.<br>Le recomendamos actualizar a una nueva versión.</p>
                        </video>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="col-xs-12 col-md-5">
                <div class="head-latest-news card-3 white">
                    <h3 class="text-center">
                        Testimonios
                    </h3>
                    {% for testimonial in testimonials %}
                        <div class="head-latest-news-item card-3">
                            <h3>
                                <a href="{{testimonial.get_absolute_url}}">{{testimonial.title}}</a>
                            </h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            {% if tv %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="tv-online card-3">
                        <a href="{{tv.video_url}}" target="_blank-">
                            <img src="{{tv.image.url}}" alt="Tv Universal">
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="tv-online card-3">
                        <a href="#">
                            <img src="{% static 'base/images/tvonline.jpg' %}" alt="Tv Universal">
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if newspaper %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="newspaper card-3">
                        <a href="{{newspaper.newspaper_url}}" target="_blank">
                            <img src="{{newspaper.image.url}}" alt="Tv Universal">
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="newspaper card-3">
                        <a href="#">
                            <img src="{% static 'base/images/periodico.jpg' %}" alt="Tv Universal">
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="player card-3">
                    <ul>
                        <li class="cover">
                            <a href="http://red-aleluya.universal.org.pa" target="_blank">
                                <img src="{% static 'base/images/radio.jpg' %}"/>
                            </a>
                        </li>
                        <li class="info">
                            <h1>Red aleluya</h1>
                            <h4>Panamá</h4>
                            <h2>Radio on-line</h2>
                            <div class="button-items">
                                <audio id="music">
                                    {% if audio %}
                                        <source src="{{audio.audio_url}}" type="audio/mp3">
                                        <source src="{{audio.audio_url}}" type="audio/ogg">
                                    {% else %}
                                        <source src="http://streamall.alsolnet.com:443/redaleluya" type="audio/mpeg" type="audio/mp3">
                                        <source src="http://streamall.alsolnet.com:443/redaleluya" type="audio/mpeg" type="audio/ogg">
                                    {% endif %}
                                </audio>
                                <div class="controls">
                                    <button id="play" >
                                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    </button>
                                    <button id="pause" >
                                        <i class="fa fa-pause-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 hidden-md hidden-lg sm">
                    <div class="groups-carousel card-3">    
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                            {% if groups %}
                                {% for group in groups %}
                                    <div class="swiper-slide">
                                        <img src="{{group.image.url}}" alt="{{group.title}}">
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="swiper-slide">
                                    <img src="{% static 'base/images/660x420px' %}" alt="Disponible">
                                </div>
                            {% endif %}
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <!-- Groups photo carousel -->
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="social-media">
                        <a href="https://www.facebook.com/IglesiaUniversalPanama/" type="button" target="_blank">
                            <div class="social-media-item card-3 facebook">
                                <p><span class="fa fa-facebook footer-sm" aria-hidden="true"></span></p>
                            </div>
                        </a>
                        <a type="button" href="https://www.instagram.com/iurdpanama/" target="_blank">
                            <div class="social-media-item card-3 instagram">
                                <p><span class="fa fa-instagram footer-sm" aria-hidden="true"></span></p>
                            </div>
                        </a>
                        <a type="button" href="https://www.youtube.com/channel/UCxDrDoFOgKPbgSwq_A4ptAQ" target="_blank">
                            <div class="social-media-item card-3 youtube">
                                <p><span class="fa fa-youtube footer-sm" aria-hidden="true"></span></p>
                            </div>
                        </a>
                    </div>
                    {% if groups %}
                        <div class="groups-carousel card-3 hidden-sm">    
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for group in groups %}
                                        <div class="swiper-slide">
                                            <img src="{{group.image.url}}" alt="{{group.title}}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            <!-- Groups photo carousel -->
            <!-- Social photo carousel  -->
                <div class="col-xs-12 col-sm-12 col-md-7">
                    <div class="social-carousel card-3">    
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% if imagens %}
                                    {% for imagen in imagens %}
                                        <div class="swiper-slide">
                                            <img src="{{imagen.image.url}}" alt="{{imagen.title}}">
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="swiper-slide">
                                        <img src="{% static 'base/images/660x420px' %}" alt="Disponible">
                                    </div>  
                                {% endif %}
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            <!-- Social photo carousel  -->
        </div>
    </div>
<!-- Multimedia -->
<!-- big Banner -->
    {% if event %}
        <div class="row">
            <div class="">
                <div class="col-sm-12">
                    <div class="banner-home card-3">
                        <a href="{{event.get_absolute_url}}">
                            <img src="{% if event.banner_horizontal %}{{event.banner_horizontal.url}}{% else %}{{event.image.url}}{% endif %}" alt="{{event.title}}" class="hidden-xs">

                            <img src="{% if event.banner_vertical %}{{event.banner_vertical.url}}{% else %}{{event.image.url}}{% endif %}" class="hidden-lg hidden-md hidden-sm">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="">
                <div class="col-sm-12">
                    <div class="banner-home card-3">
                        <a href="{{event.get_absolute_url}}">
                            <img src="{% static 'base/images/1320x350.jpg' %}" alt="Tv Universal">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
<!-- big Banner -->
<!-- Blogs amigos -->
    {% if feeds %}
        <div class="hidden-md hidden-lg">
            <div class="row">
                <div class="col-xs-12">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for feed in feeds %}
                                <div class="swiper-slide">
                                    <img src="{% if feed.image %}{{feed.image.url}}{% endif %}" alt="" class="img-responsive">
                                    <p>
                                        <a href="{{feed.url_feed}}" target="_blank">{{feed.title}}</a>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
<!-- Blogs amigos -->
{% endblock %}

<!-- Event -->
    {% if imagen %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div id="" class="">
                {% for image in imagen %}
                    <div class="dailyimage">
                        <img src="{% if image.image %}{{ image.image.url }}{% endif %}" alt="{{image.title}}">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
<!-- Event -->
{% block js %}
<script>
    var music = $("#music");
    var playButton = $("#play");
    var pauseButton = $("#pause");
    var playhead = $("#elapsed");
    var timeline = $("#slider");
    var timer = $("#timer");
    var duration;

    $("#pause").css("display","none");

    $("#pause").click( "click", function pause() {
        console.log( "stop audio" );
        document.getElementById('music').pause();
        $("#play").css("display","initial");
        $("#pause").css("display","none");
    });

    $("#play").click( "click", function play() {
        console.log( "play audio" );
        document.getElementById('music').play();
        $("#play").css("display","none");
        $("#pause").css("display","initial");
    });
    
    var swiper = new Swiper('.social-carousel .swiper-container', {
        pagination: '.social-carousel .swiper-pagination',
        nextButton: '.social-carousel .swiper-button-next',
        prevButton: '.social-carousel .swiper-button-prev',
        paginationClickable: true
    });
     var swiper = new Swiper('.groups-carousel .swiper-container', {
        pagination: '.groups-carousel .swiper-pagination',
        // slidesPerView: 3,
        nextButton: '.groups-carousel .swiper-button-next',
        prevButton: '.groups-carousel .swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        // freeMode: true
    });
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 30,
        freeMode: true
    });
</script>
{% endblock %}
