{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style media="screen">
   
</style>
{% endblock %}

{% block content %}
<!-- Testimonials -->
<div class="row testimonios">
    {% if testimonial_list %}
    <div class="container">
        {% for testimonial in testimonial_list %}
        <div class="col-xs-12 col-sm-6 testimonial-block">
            <div class="testimonial-post material-shadow">
                <div class="testimonial-post-header">
                    <a href="{{ testimonial.get_absolute_url }}">
                        <img id="" src="{% if testimonial.image != '' %}{{testimonial.image.url}}{% else %}https://static.pexels.com/photos/325288/pexels-photo-325288.jpeg{% endif %}" alt="" height="250" width="540">
                    </a>
                    <h3>{{testimonial.title}}</h3>
                </div>
                <div class="testimonial-post-footer text-right">
                    <p>
                        <span class="">
                            Publicado {{testimonial.timestamp|date:"D d M Y"}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div  id="{{testimonial.id}}Modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><h5>&times;</h5></span></button>
                        <iframe src="https://www.youtube.com/embed/{{testimonial.video_url}}" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>        
        {% endfor %}
    </div>
    {% endif %}
</div>
<!-- Pagination -->
<div class="row testimonios">
    <div class="container">
        <div class="col-xs-12 text-center">
            <nav aria-label="...">
                {% if testimonial_list.has_other_pages %}
                <ul class="pagination">
                    {% if testimonial_list.has_previous %}
                    <li>
                        <a href="?page={{ testimonial_list.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for i in testimonial_list.paginator.page_range %}
                        {% if testimonial_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if testimonial_list.has_next %}
                    <li>
                        <a href="?page={{ testimonial_list.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var swiper = new Swiper('#testimonialCarousel .swiper-container', {
        pagination: '#testimonialCarousel .swiper-pagination',
        paginationClickable: true,
        nextButton: '#testimonialCarousel .swiper-button-next',
        prevButton: '#testimonialCarousel .swiper-button-prev',
        spaceBetween: 30,
        autoplay: 2500,
        grabCursor: true
    });
</script>
{% endblock %}
