{% extends 'base.html' %}
{% block css %}
<style>
	.go-back{margin-top: 25px;}
	#fullWidthImage1 {
        height: 50vh;
        background-image: url("{{blog_detail.image.url}}");
    }
    .quote-image::before {
        opacity: 0.799;
    }
    .quote-image .container h4 {position: relative;max-width: 35vw;margin:10% auto;text-align: center;font-size: 2.8em;}
    .post,.comments{padding: 25px;background-color: #FFF; margin-top: 25px; }
    .comment{border-top: 1px solid #CCC; padding-top:10px; }
    .comment .comment-author{width: 60px; background-color: #e4e4e4; height: auto}
	.navbar {margin-bottom: 0px;}
	.banner-home{height: auto !important; margin-bottom: 25px;}
	.banner-home img{height: 100% !important;}
</style>
<meta property="og:url"           content="http://www.universal.org.pa{{blog_detail.get_absolute_url}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{blog_detail.title}}" />
<meta property="og:description"   content="{{blog_detail.content | safe}}" />
<meta property="og:image"         content="http://www.universal.org.pa/{{blog_detail.image.url}}" />
{% endblock %}

{% block content %}
<div class=" hidden-xs">
	<div class="row">
		<div id="fullWidthImage1" class="quote-image">
			<div class="container">
	            <h4>{{blog_detail.title}}</h4>
	        </div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="go-back">
				<p><a href="{% url 'frontend:Blog' %}"><span class="glyphicon glyphicon-menu-left"></span>Ver todos los artículos</a></p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="post card-3">
				<div class="post-author">
					
				</div>
				<div class="post-content">
					{{blog_detail.content | safe}}
				</div>
				<div id="fb-root"></div>
				<script>
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));

				</script>
				<div class="fb-like" data-href="http://www.universal.org.pa{{blog_detail.get_absolute_url}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
				<a href="whatsapp://send" data-text="Cómo crear el botón de Compartir en WhatsApp en tu sitio:" data-href="" class="hidden-sm hidden-md hidden-lg" style="">Compartir</a>
			</div>
		</div>
		<div class="col-sm-4">
			{% if blog_detail.related.all %}
				<div class="related">
					<h3>Artículos relacionados</h3>
					<ul>
						{% for related in blog_detail.related.all %}
							<li>
								<a href="{{related.get_absolute_url}}">
									{{related}}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% if event %}
                <div class="banner-home card-3">
                    <a href="{{event.get_absolute_url}}">
                        <img src="{% if event.banner_vertical %}{{event.banner_vertical.url}}{% else %}{{event.image.url}}{% endif %}" alt="{{event.title}}">
                    </a>
	            </div>
	        {% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			
			<div class="comments card-3">
				<div class="header text-center">
					<h4>Ultimos comentarios</h4>
				</div>
				<div class="fb-comments" data-href="http://www.universal.org.pa{{blog_detail.get_absolute_url}}" data-numposts="10"></div>
				{% if comments %}
					{% for comment in comments %}
						<div class="comment">
							<div class="comment-author">
								
							</div>
							<div class="content">
								{{comment.content|safe}}
							</div>
						</div>
					{% endfor %}
					{% else %}
						<!-- <div class="comment">
							<p>Aún no hay comentario</p>
						</div> -->
				{% endif %}
			</div>
			{% if user.is_anonymous %}
				<div class="comments card-3">
					<div class="header text-center">
						<h4>Iniciar sesión</h4>
					</div>
					<form method="post" action="{% url 'auth:Login' %}">
						{% csrf_token %}
						<input type="text" class="form-control" id="lg_username" name="username" placeholder="Escriba su correo eléctronico">

						<input type="password" class="form-control" id="lg_password" name="password" placeholder="Escriba su contraseña">

						<button type="submit" class="btn btn-block btn-primary">
							Entrar
						</button>
					</form>		
				</div>
			{% else %}
				<div class="comments card-3">
					<div class="header text-center">
						<h4>Escribe un comentario</h4>
					</div>
					<form method="post" action="{# url 'frontend:comment' #}">
						{% csrf_token %}
						<input type="text" class="form-control" id="lg_username" name="username" placeholder="Escriba su correo eléctronico">

						<input type="text" class="hidden" value="{{blog_detail.content_type}}" name="content_type">

						<input type="text" class="hidden" value="{{blog_detail.object_id}}" name="object_id">

						<input type="text" class="hidden" value="" name="">

						<textarea class="form-control" rows="3" class="form-control" placeholder="Escriba su comentario" name="content">
						</textarea>
						<button type="submit" class="btn btn-block btn-primary">
							Entrar
						</button>
					</form>		
				</div>
			{% endif %}

		</div>
	</div>
</div>


{% endblock %}

{% block js %}

{% endblock %}