{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style>
    .go-back{margin-top: 25px;}
    #fullWidthImage1 {
        height: 50vh;
        background-image: url("{% if project.background_image.url %}{{project.background_image.url}}{% else %}{% endif %}");
    }
    .quote-image::before {
        opacity: 0.799;
    }
    .quote-image .container h4 {position: relative;max-width: 35vw;margin:10% auto;text-align: center;font-size: 2.8em;}
    .box{padding: 25px;background-color: #FFF; margin-top: 25px; }

    .navbar {margin-bottom: 0px;}
    .banner-home{height: auto !important; margin-bottom: 25px;}
</style>
{% endblock %}

{% block content %}
<div class="row hidden-xs vh50  imge-parallax">
    <div id="fullWidthImage1" class="quote-image">
        <div class="container">
            <h4>{{project.title}}</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="go-back">
                <p><a href="{% url 'frontend:Projects' %}"><span class="glyphicon glyphicon-menu-left"></span> Ver todos los grupos</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="card-3 box">
                <h2>{{project.title}}</h2>
                {{project.description| safe}}
                <p><a href="{{project.url}}">Sitio oficial</a></p>
            </div>
        </div>
        {% if event %}
            <div class="col-xs-12 col-sm-4">
                <div class="banner-home card-3">
                    <a href="{{event.get_absolute_url}}">
                        <img src="{% if event.banner_vertical %}{{event.banner_vertical.url}}{% else %}{{event.image.url}}{% endif %}" alt="{{event.title}}">
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}
