{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style>
    #fullWidthImage1 {
        height: 50vh;
        background-image: url("{% static 'base/images/templo-de-salomon.jpg' %}");
    }
    .quote-image::before {
        opacity: 0.799;
    }
    .quote-image .container h4 {position: relative;max-width: 35vw;margin:10% auto;text-align: center;font-size: 2.8em;}
</style>
{% endblock %}

{% block content %}
<div class="row hidden-xs vh50">
    <div id="fullWidthImage1" class="quote-image">
        <div class="container">
            <h4>lorem ipsum</h4>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}
