{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style>
    .go-back{margin-top: 25px;}
    #fullWidthImage1 {
        height: 50vh;
        background-image: url("{% if object.background_image %}{{object.background_image.url}}{% else %}{% endif %}");
    }
    .imge-parallax{
        margin-top:-27px;
    }
    .quote-image::before {
        opacity: 0.399;
    }
    .quote-image .container h4 {position: relative;max-width: 35vw;margin:10% auto;text-align: center;font-size: 2.8em;}
    .box{padding: 25px;background-color: #FFF; margin-top: 25px; }
    .video iframe{width: 100%; height: 450px;}
    .navbar {margin-bottom: 0px;}
    .banner-home{height: auto !important; margin-bottom: 25px;}
    .banner-home img{height: 100% !important;}
</style>
{% endblock %}

{% block content %}
<div class="row hidden-xs vh50 imge-parallax">
    <div id="fullWidthImage1" class="quote-image">
        <div class="container">
            <h4>{{object.title}}</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="go-back">
                <p><a href="{% url 'frontend:Reunions' %}"><span class="glyphicon glyphicon-menu-left"></span> Ver todas las reuniones</a></p>
            </div>
        </div>
        <div class="col-xs-12 {% if not events %} col-sm-offset-2 {% endif %} col-sm-8">
            <div class="card-3 box">
                <h2>{{object.title}}</h2>
                {{object.description| safe}}
                {{object.location| safe}}

            </div>
        </div>
        {% if events %}
            <div class="col-xs-12 col-sm-4">
                <div class="banner-home card-3">
                    <a href="{{event.get_absolute_url}}">
                        <img src="{% if event.banner_vertical %}{{event.banner_vertical.url}}{% else %}{{event.image.url}}{% endif %}" alt="{{event.title}}">
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}