<!DOCTYPE html>{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} | Iglesia Universal Del Reino de Dios</title>
    {% include 'head.html' %}
    {% block css %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {% include 'header.html' %}
    <section>{% block content %}{% endblock %}</section>
    <footer>
        {% include 'footer.html' %}
    </footer>
    {% if user_rouge_for_pray == True %}
    <div  id="prayModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><h5>&times;</h5></span></button>
                    <h5 class="modal-title text-center" id="exampleModalLabel">
                        Hola, Nos gustaría hacer una oración a su nombre
                    </h5>
                </div>
                <form class="inline-form" action="{% url 'frontend:Pray' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">
                                <h5>¿Cual es su nombre?</h5>
                            </label>
                            <input type="text" class="form-control" name="name" id="recipient-name">
                            <input type="text" class="hidden" name="url" id="recipient-name" value="{{ request.get_full_path }}">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">
                                <h5>¿Cuál es su correo electrónico?</h5>
                            </label>
                            <input type="text" class="form-control" name="email" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">
                                <h5>¿Por qué o quien quiere que oremos?</h5>
                            </label>
                            <textarea class="form-control" name="description" id="message-text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-link" name="submit" value="False">
                            <h5>Por ahora no</h5>
                        </button>
                        <button type="submit" class="btn btn-link" name="submit" value="True">
                            <h5>Enviar</h5>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="{% static 'base/js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/app.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/swiper.min.js' %}" charset="utf-8"></script>
    {% block js %}{% endblock %}
</body>
</html>
