<div id="footerRow1" class="row footer-row ident-color">
    <div class="container hidden-xs">
        {% if news %}
        <div class="col-xs-12 col-sm-4">
            <ul id="footerCol1Row" class="footer-list">
                <li class="" id="">Últimos artículos</li>
                {% for new in news %}<li class="footer-anchor" id=""><a >{{new.title}}</a></li>{% endfor %}
            </ul>
        </div>
        {%endif%}
        {% if feeds %}
        <div class="col-xs-12 col-sm-4">
            <ul id="footerCol2Row" class="footer-list">
                <li class="" id="">Blogs amigos</li>
                {% for feed in feeds %}<li class="footer-anchor" id=""><a href="{{feed.url_feed}}" target="_blank">{{feed.title}}</a></li>{% endfor %}
            </ul>
        </div>
        {%endif%}
        <div class="col-xs-12 col-sm-4">
            <ul id="footerCol4Row" class="footer-list">
                <li class="text-center" id="">Redes sociales</li>
            </ul>
            <div class="text-center">
                <button type="button" class="btn footer-sm-facebook btn-circle btn-xl"><i class="fa fa-facebook footer-sm" aria-hidden="true"></i></button>
                <button type="button" class="btn footer-sm-youtube btn-circle btn-xl"><i class="fa fa-youtube footer-sm" aria-hidden="true"></i></button>
                <button type="button" class="btn footer-sm-facebook btn-circle btn-xl"><i class="fa fa-instagram footer-sm" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="container hidden-sm hidden-lg hidden-mg">
        <div class="col-xs-12 margin-footer">
            <ul id="footerCol4Row" class="footer-list">
                <li class="text-center" id="">Redes sociales</li>
            </ul>
            <div class="text-center">
                <button type="button" class="btn footer-sm-facebook btn-circle btn-xl"><i class="fa fa-facebook footer-sm" aria-hidden="true"></i></button>
                <button type="button" class="btn footer-sm-youtube btn-circle btn-xl"><i class="fa fa-youtube footer-sm" aria-hidden="true"></i></button>
                <button type="button" class="btn footer-sm-facebook btn-circle btn-xl"><i class="fa fa-instagram footer-sm" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="col-xs-12 footer-margin">
            
        </div>
        <div class="col-xs-12 footer-margin">
            
        </div>
    </div>
</div>
<div id="footerRow2" class="row footer-row ident-color-dark">
    <div class="container">
        <div class="col-xs-12 col-sm-4 text-center">
            <p>Copyright 2017 Iglesia Oración Fuerte al Espiritu Santo</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <p></p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <p class="dev2tech-logo">Powered by <span class=""><a target="_blank" href="https://dev2tech.xyz">Dev2tech</a></span></p>
        </div>
    </div>
</div>