<div id="footerRow1" class="row footer-row ident-color">{% load staticfiles %}
    <div class="container hidden-xs">
        <div class="col-xs-12 col-md-3 hidden-sm">
            <div class="img-logo-footer">
                <img src="{% static 'base/images/isotipo.png' %}" alt="Iglesia oración fuerte al Espiritu Santo" class="img-responsive">
            </div>
        </div>
        {% if page_news %}
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul id="footerCol1Row" class="footer-list">
                <li class="" id="">Últimos artículos</li>
                {% for new in page_news %}<li class="footer-anchor" id=""><a href="{{new.get_absolute_url}}" >{{new.title}}</a></li>{% endfor %}
            </ul>
        </div>
        {%endif%}
        {% if feeds %}
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul id="footerCol2Row" class="footer-list">
                <li class="" id="">Blogs amigos</li>
                {% for feed in feeds %}<li class="footer-anchor" id=""><a href="{{feed.url_feed}}" target="_blank">{{feed.title}}</a></li>{% endfor %}
            </ul>
        </div>
        {%endif%}
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul id="footerCol4Row" class="footer-list">
                <li class="text-center" id="">Redes sociales</li>
            </ul>
            <br>
            <div class="text-center">
                <a href="{% url 'social:begin' 'facebook' %}" type="button" class="btn footer-sm-facebook btn-circle btn-lg" target="_blank">
                    <i class="fa fa-facebook footer-sm text-white" aria-hidden="true"></i>
                </a>
                <a type="button" class="btn footer-sm-youtube btn-circle btn-lg" href="https://www.youtube.com/channel/UCxDrDoFOgKPbgSwq_A4ptAQ">
                    <i class="fa fa-youtube footer-sm text-white" aria-hidden="true"></i>
                </a>
                <a type="button" class="btn footer-sm-facebook btn-circle btn-lg" href="https://www.instagram.com/iurdpanama/">
                    <i class="fa fa-instagram footer-sm text-white" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container hidden-sm hidden-lg hidden-md">
        <div class="col-xs-12 margin-footer">
            <ul id="footerCol4Row" class="footer-list">
                <li class="text-center" id="">Redes sociales</li>
            </ul>
            <div class="text-center">
                <a href="{% url 'social:begin' 'facebook' %}" type="button" class="btn footer-sm-facebook btn-circle btn-lg" target="_blank">
                    <i class="fa fa-facebook footer-sm text-white" aria-hidden="true"></i>
                </a>
                <a type="button" class="btn footer-sm-youtube btn-circle btn-lg" href="https://www.youtube.com/channel/UCxDrDoFOgKPbgSwq_A4ptAQ">
                    <i class="fa fa-youtube footer-sm text-white" aria-hidden="true"></i>
                </a>
                <a type="button" class="btn footer-sm-facebook btn-circle btn-lg" href="https://www.instagram.com/iurdpanama/">
                    <i class="fa fa-instagram footer-sm text-white" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="col-xs-12 footer-margin">
            
        </div>
        <div class="col-xs-12 footer-margin">
            
        </div>
    </div>
</div>
<div id="footerRow2" class="row footer-row ident-color-dark">
    <div class="container">
        <div class="col-xs-12 col-sm-4 text-center">
            <p>Copyright {% now "Y" %} Iglesia Oración Fuerte al Espiritu Santo</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <p></p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <p class="dev2tech-logo">Powered by <span class=""><a target="_blank" href="https://dev2tech.xyz">Dev2tech</a></span></p>
        </div>
    </div>
</div>