{% load staticfiles %}
<header>
    <div class="hidden-xs row">
        <div class="container-fluid">
            <img src="{% static 'base/images/logo.png' %}" alt="Iglesia oración fuerte al Espiritu Santo" id="logoLarge">
        </div>
    </div>
    <nav id="myMenu" class="navbar navbar-default navbar-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="{% static 'base/images/logo.png' %}" alt="Iglesia oración fuerte al Espiritu Santo" id="logoShort" class="hidden-sm hidden-md hidden-lg">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% if pg_title == 'home' %}active{% endif %}">
                        <a href="{% url 'frontend:Home' %}">Inicio</a>
                    </li>
                    <li class="{% if pg_title == 'about' %}active{% endif %}" >
                        <a href="{% url 'frontend:About' %}">¿Quienes somos?</a>
                    </li>
                    <li class="{% if pg_title == 'project' %}active{% endif %}">
                        <a href="{% url 'frontend:Projects' %}">Proyectos</a>
                    </li>
                    <li class="dropdown dropdown-large {% if pg_title == 'reunion' %}active{% endif %}">
                        <a href="{% url 'frontend:Reunions' %}" class="dropdown-toggle" data-toggle="dropdown">
                            Reuniones <b class="caret hidden-xs hidden-sm"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-large row hidden-xs">
                            {% for key, value in weekdays.items|dictsort:0 %}
                                <li class="col-sm-3">
                                    <ul>
                                    {% if forloop.counter == 1 %}
                                        <li class="dropdown-header">Todas las reuniones</li>
                                        <li><a href="{% url 'frontend:Reunions' %}">Ver reuniones</a></li>
                                        <li class="divider"></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <ul>
                                        <li class="dropdown-header">{{value.day}}</li>
                                        {% for key, val in value.reunions.items %}
                                            <li><a href="{{val.url}}">{{val.name}}</a></li>
                                        {% endfor %}
                                        <li class="divider"></li>
                                    {% else %}
                                        <li class="dropdown-header">{{value.day}}</li>
                                        {% for key, val in value.reunions.items %}
                                            <li><a href="{{val.url}}">{{val.name}}</a></li>
                                        {% endfor %}
                                        <li class="divider"></li>
                                    {% endif %}
                                    </ul>
                                    
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="{% if pg_title == 'testimonial' %}active{% endif %}">
                        <a href="{% url 'frontend:Testimonials' %}">Testimonios</a>
                    </li>
                    <li class="{% if pg_title == 'media' %}active{% endif %}">
                        <a href="{% url 'frontend:Media' %}">Multimedia</a>
                    </li>
                    {% if page_aevents %}
                        <li class="{% if pg_title == 'events' %}active{% endif %}">
                            <a href="{% url 'frontend:Events' %}">Eventos</a>
                        </li>
                    {% endif %}
                    <li class="{% if pg_title == 'blog' %}active{% endif %}">
                        <a href="{% url 'frontend:Blog' %}">Blog</a>
                    </li>
                    <li class="{% if pg_title == 'contact' %}active{% endif %}">
                        <a href="{% url 'frontend:Contact' %}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>