.red{background:#f44336;}
.purple{background:#673ab7;}
.indigo{background:#3f51b5;}
.blue{background:#2196f3;}
.cyan{background:#00bcd4;}
.teal{background:#009688;}
.turquesa{background:#45b4ab;}
.green{background:#4caf50;}
.lightGreen{background:#8bc34a;}
.lime{background:#c0ca33;}
.yellow{background:#fdd835;}
.amber{background:#ffc107;}
.orange{background:#ff9800}
.deepOrange{background:#ff5722;}
.brown{background:#795548;}
.gray{background-color:rgba(201,201,201,1);}
.lightGray{background-color:rgba(3,3,3,0.0358);;}
.darkGray{background-color:rgba(1,1,1,0.718);}
.darkenGray{background-color:rgba(1,1,1,0.518);}
.newBlue{background-color:#7db4bb;}
.text-plomo{color:#333;}
.text-darken{color:rgb(0,0,0);}
.text-white{color:#FFF;}
.ident-color{background-color:#242843;}
.ident-color-dark{background-color:#181b2d;}